

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    
}

/* Nav style*/

nav{
    display: flex;
    margin: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 38px 15px;


}








/*Shared styles*/

.text-primary{
    color: rgba(14, 14, 14, 1);

}

.btn-primary{
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    color: rgba(0, 106, 80, 1)              ;
   

}



/* banner styles*/
.banner-title{
    font-weight: ;
    font-size: 24px;
    font color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
}

.banner-description{
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
    font-size: 30pxpx;

}
.btn-primary{
    background-color: rgba(0, 106, 80, 1);
    color: white;
}
.banner{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    paqdding: 80px;
    background-color: rgba(198, 228, 214, 1);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
   
}


